/* Loader */
.loader-wrapper {
  transition: 0.5s;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #404040;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
@font-face {
  font-family: "Teko";
  src: url("fonts/Teko-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MaShan";
  src: url("fonts/MaShanZheng-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Marker";
  src: url("fonts/PermanentMarker-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Sawarabi";
  src: url("fonts/SawarabiMincho-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shadows";
  src: url("fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Korea";
  src: url("fonts/NotoSerifKR-Regular.otf") format("truetype");
}
body{
  margin: 0px;
}
.nav{
  display: grid;
  grid-template-rows: 50px 110px 62px;
  height: 10%;
}
.nav-top{
  background-color: #404040;
  display: grid;
  text-align: center;
}
.nav-top{
  color: gray;
  font-family: 'Marker', cursive;
}
.nav-top h3{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
}
.nav-middle{
  background-image: url(img1/nav-middle.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 10px;
}
.nav-middle h1{
  text-align: center;
  color: white;
  font-family: 'Shadows', sans-serif;
}
.nav-wrapper{
  display: flex;
  justify-content: space-between;
  background-color: #404040;
}
.left-side{
  display: flex;
}
.left-side a{
  text-decoration: none;
}
.nav-link-wrapper{
  padding-right: 20px;
  padding-left: 20px;
}
.nav-link-wrapper h3{
  color: white;
  font-family: 'Teko', sans-serif;
}
.left-side a:hover {
  background-color: black;
}
.left-side a:hover h3{
  color: #c5aa6a;
}
.right-side{
  margin-right: 20px;
}
.japanese{
  display: inline-block;
  font-family: 'Sawarabi', sans-serif;
  color: white;
}
.chinese{
  display: inline-block;
  font-family: 'MaShan', cursive;
  color: white;
}
/*My content */
.flex-container{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  background-image: url(img1/content-wallpaper1.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 0px 50px 0px;
}
.flex-container div{
  border: 1px solid black;
  padding: 100px 150px 100px 150px;
  background-position: center;
}
.item-1{
  background-image: url(img1/england.jpg);
  background-size: cover;
  background-repeat: no-repeat center fixed;
}
.item-2{
  background-image: url(img1/spain.jpg);
  background-size: cover;
  background-repeat: no-repeat center fixed;
}
.item-3{
  background-image: url(img1/germany.jpg);
  background-size: cover;
  background-repeat: no-repeat center fixed;
}
.item-4{
  background-image: url(img1/korea.jpg);
  background-size: cover;
  background-repeat: no-repeat center fixed;
}
.item-5{
  background-image: url(img1/japan.jpg);
  background-size: cover;
  background-repeat: no-repeat center fixed;
}
.item-6{
  background-image: url(img1/china.jpg);
  background-size: cover;
  background-repeat: no-repeat center fixed;
}
.item-7{
  background-image: url(img1/portugal.jpg);
  background-size: cover;
  background-repeat: no-repeat center fixed;
}
.item-8{
  background-image: url(img1/france.jpg);
  background-size: cover;
  background-repeat: no-repeat center fixed;
}
.item-9{
  background-image: url(img1/italy.jpg);
  background-size: cover;
  background-repeat: no-repeat center fixed;
}
.footer{
  background-color: #303036;
  color: white;
  height: 120px;
  position: relative;
}
.icons{
  width: 60%;
  margin-left: 20%;
  padding-top: 10px;
}
.icons a{
  margin-left: 15%;
}
.icons img{
  width: 50px;
}
.footer-bottom{
  background-color: #343a40;
  height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
}
@media (max-width: 1200px){
  .nav{
    grid-template-rows: 70px 110px 62px;
  }
  .nav-top{
    text-align: center;
  }
  .nav-top h3{
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
  }
}
@media (max-width:768px){
  .nav{
    grid-template-rows: 70px 80px 42px;
  }
  .nav-top h3{
    font-size: 0.8em;
  }
  .nav-middle{
    font-size: 0.5em;
  }
  .right-side h3{
    font-size: 0.8em;
  }
  .nav-link-wrapper{
    padding-left: 10px;
    padding-right: 10px;
  }
  .left-side a h3{
    font-size: 0.6em;
  }
  .icons{
    width: 90%;
    margin-left: 5%;
    padding-top: 30px;
  }
  .icons a{
    margin-left: 10%;
  }
  .icons img{
    width: 30px;
  }
}
